# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Ignore all image files in server/public/images/gallery
server/public/images/gallery/*.png
server/public/images/gallery/*.jpg
server/public/images/gallery/*.jpeg
server/public/images/gallery/*.gif
server/public/images/gallery/*.bmp
server/public/images/gallery/*.svg
server/public/images/gallery/*.webp
server/public/images/gallery/*.tiff
server/public/images/gallery/*.ico