.vscode/
node_modules/

# Ignore all image files in server/public/images/gallery
server/public/images/gallery/*.png
server/public/images/gallery/*.jpg
server/public/images/gallery/*.jpeg
server/public/images/gallery/*.gif
server/public/images/gallery/*.bmp
server/public/images/gallery/*.svg
server/public/images/gallery/*.webp
server/public/images/gallery/*.tiff
server/public/images/gallery/*.ico


/public/*

.env